label {
	white-space: nowrap;
	.text-overflow();
}

#date-box-container {
  padding-bottom: 0;
  div div div.Floats_holder {
    display:none;
  }
}

.search-icon-main {
	display:inline-block;
	top: 4px;
	position: relative;
	margin-left: 4px;
	@size: 24px;
	width:@size;
	height:@size;
	.wrap;
	background-color: @color-1A;
	background-image: url("img/search.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border:none;
}

.search-icon {
	.wrap;
	display:inline-block;
	margin-top: 0;
	border:none;
}


.search-choice {
	padding:@basePadding;
	padding-top:0;

	.title {
		padding-left: 1em;
		padding-top: 1.25em;
	}
	
	.font-set;
	
	li {
		> a {
			display: block;
			text-align: center;
			padding-left:@basePadding;
			padding-right:@basePadding;
			padding-bottom:1em;
			text-decoration: none;
			span {
				margin: auto;
				display: block;
				font-size: @font-default;
			}
			
			background-image: url("img/search-arrow-up.png");
			background-repeat: no-repeat;
			background-position: center 150px;

			.transition(background-position 0.25s ease-in-out);

			&:hover {
				
				.search-type-icon {
					background-position-y:-5px;
				}
			}

			&.selected {
				cursor: default;
				background-position: center 110%;
				.search-type-icon {
					background-position-y:-5px;
				}
			}
		}
	}
}

@searchSprite:"img/sprite-tipi-di-ricerca.png";
@spriteWidth:56px;
@spriteHeight:36px;

.search-icon-def {
	.search-icon;
	.sprite(0, 0, @searchSprite, @spriteWidth, @spriteHeight);
}
.search-icon-advc {
	.search-icon;
	.sprite(1, 0, @searchSprite, @spriteWidth, @spriteHeight);
}
.search-icon-alph {
	.search-icon;
	.sprite(2, 0, @searchSprite, @spriteWidth, @spriteHeight);
}
.search-icon-chrn {
	.search-icon;
	.sprite(3, 0, @searchSprite, @spriteWidth, @spriteHeight);
}
.search-icon-gerl {
	.search-icon;
	.sprite(3, 0, @searchSprite, @spriteWidth, @spriteHeight);
}
.search-icon-them {
	.search-icon;
	.sprite(4, 0, @searchSprite, @spriteWidth, @spriteHeight);
}
.search-icon-pers {
	.search-icon;
	.sprite(5, 0, @searchSprite, @spriteWidth, @spriteHeight);
}

.bordered-title.with-vertical-margin {
	margin-top: @basePadding;
	margin-bottom: @basePadding;
}

.search-header {
	padding:0 @basePadding @basePadding @basePadding;

	strong {
		position: relative;
		top:-.5em;
		.font-bold (@color-1A, 1.25em, uppercase);
	}
	.search-title {
		strong {
			font-size:1.2em;
		}
	}
	.search-header {
		padding:0;
	}
}
strong.SearchEdit{
	top: @0p5em;
}
span.SearchEdit{
	float:right;
	font-size:2em;
}

.treeviewFirstLevel {
	padding:@basePadding 0 0 0;
	li {
		@margin:@basePadding;
		display:inline-block;
		margin:0 @margin @margin 0;
		div {
			@size:45px;
			display:inline-block;
			padding:@0p125em;
			.wrap;

			.font-bold (@color-1A, 1.5em, none);

			cursor: pointer;
			text-align: center;
			
			border:2px solid transparent;
			
			min-width:@size;
			min-height:@size;

			background-color: @color-1D;
			&:hover {
				background-color: @color-1B;
			}

			&.disabled {
				background-color: @color-1D;
				cursor: default;
			}

			&.selectedTreeNodeRoot {
				border-color: @color-1A;
				background-color: @color-1C;
				cursor: default;
			}

			.transition(background-color 0.25s ease-out, border-color 0.25s ease-out;);

			span {
				font-size: escape('.625em');
				font-weight: normal;
			}
			p.tit {
				font-size: 1em;
			}
			p.stit {
				font-size: .5em;
				font-weight: normal;
			}
			p.descr {
				font-size: .625em;
				font-weight: normal;
			}
		}
	}
	div.br {
		display: none !important;
	}
}

.search-tags {
	margin-top:@main-padding;
	p.ButtonPrivati {
		margin-bottom: @0p5em;
		label {
			white-space: normal;
		}
	}
}

.search-tag-button() {
	display: inline-block;
	padding:@main-padding;
	
	border:2px solid transparent;
	cursor: pointer;
	
	.font-set;
	.transition(border-color 0.25s ease-out, background-color 0.25s ease-out;);
}

.search-tag {
	.search-tag-button();

	background-color:@color-1D;
	&:hover {
		background-color:@color-1C;
	}
	&.selected {
		border-color:@color-1A;
		background-color:@color-1C;
	}

	input {
		display: none;
	}
}

.search-tag-selector {
	.search-tag-button();

	color:white;
	background-color:@color-1A;
	
	&:hover {
		background-color:@color-1C;
	}
	&.selected {
		border-color:@color-1A;
		background-color:@color-1C;
	}
}

.search-submit {
	.search-tag-button();
	color:white;
	background-color:@color-1C;
	

	&.search {
		background-image: url("img/search-form-icon.png");
		background-color:@color-1A;
		padding-right:2em;
	}
	
	background-repeat: no-repeat;
	background-position: 95% center;
	
	border:none;
	float:right;
}
.search-submit_mod, 
.search-submit_del, 
.search-submit_go {
  float: none;
  margin-right: @0p25em;
}
.search-submit_go{
	background-color: @color-1A;
}

.search-margin-bottom {
	margin-bottom:1em;
}

.search-gradient {
	margin-top: 0 !important;
	background-image: url('img/search-gradient-bg.png');
	.h-full-gradient (@color-1B, fade(@color-1B,0%), 0%, 100%);
	padding: @0p25em;
	color:white !important;
}

.search-date-container {
	> * {
		float: left;
	}
}

.search-date {
	background-color:@color-1C;
	padding: (@main-padding/1.5);
	color:white;
	padding-right:1em;
	display: inline-block;
	cursor: pointer;
}

div.EFG_1>div>div>span,
div.EFG_2>div>div>span,
div.EFG_3>div>div>span,
div.EFG_4>div>div>span,
div.EFG_5>div>div>span,
div.EFG_6>div>div>span,
div.EFG_7>div>div>span,
div.EFG_8>div>div>span,
div.EFG_9>div>div>span,
div.EFG_10>div>div>span,
div.EFG_110>div>div>span,
div.EFG_111>div>div>span{
	position: absolute;
}

.TitlesContent_Content {
	.icon {
		@size:40px;
		width:@size;
		height:@size;
	}
	.egaf_dtt {
		font-size: 0.78em;
	}
	tr {
		&.tr-odd,
		&:nth-child(odd) {
			background-color: @color-1D;
		}
		&.tr-deleted{
			background-color: rgba(255, 0, 0, 0.616) !important;
		}
		&:hover {
			//background-color: darken(@color-1D, 10%);
			cursor: pointer;
			.egaf_rownum {
				color: #000;
			}
			strong {
				color: #000;
			}
		}
	}
	td {

		vertical-align: top;
		@padding:.25em;
		@size: 50px;
		padding: @padding;
		
		&.icontd {
			padding: 0;
			width: 48px;
			.icon {
				.wrap;
				padding:0;
				background-image: none;
				width:@size;
				height:@size;
			}
		}
		span {
			font-style: italic;
		}
		&.egaf_rownum {
			text-align: center;
			width:40px;
			padding-left:0;
			padding-right:0;
			.font-bold (@color-1B, @font-titoli-doc, none);
		}
		strong {
			text-transform: none;
			font-size: inherit;
			top:0;
			.font-bold (@color-1A, @font-titoli-doc, none);
		}
			
		
	}
}

.TitlesContent_NavigazioneTop {
	
	//display: inline-block;
	.TitlesActions_Contenitore {
		display: none;
	}

	.OrderByCommander_Contenitore {
		margin-right:1em;
		float: left;
		
		div {
		    float: left;
		    margin-top: @0p25em;
		    margin-left: @0p5em;
		}
	}
	
	.PageNavigator_PageScroller {
		float: right;
	}
	.OrderByCommander_Contenitore,
	.PageNavigator_Contenitore {
		
		span {
			font-size: inherit;
			display: inline-block;
		}
	}

	span {
		font-size: inherit;
		display: inline-block;
	}
}

.TitlesContent_NavigazioneTop,
.TitlesContent_NavigazioneBottom {
	padding: @0p5em;
	background-color: @color-1D;
	margin: @0p5em 0;
	overflow: auto;
	td {
		color:@color-1A;
		padding: @0p125em;
		vertical-align: middle;
		height: 24px;
		img {
			min-width: 24px;
		}
		a {
			display: inline-block;
		}
		span,
		strong {
			font-size: inherit !important;
			position: static !important;
		}
	}
}

div.icon.visitedDocs {
	position: relative;
	strong.visitedDocs {
		position: absolute;
		left: 18px;
		top: 17px;
	}
}

tr.group-header {
	td {
		background: #e6eeee;
		//* collapsed arrow */
		i {
			white-space: nowrap;
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 4px solid transparent;
			border-bottom: 4px solid #888;
			border-right: 4px solid #888;
			border-left: 4px solid transparent;
			margin-right: 7px;
			user-select: none;
			-moz-user-select: none;
		}
	}
	&.collapsed td i {
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #888;
		border-right: 0;
		margin-right: 10px;
	}
}
.group-name {
	text-transform: uppercase;
	font-weight: bold;
}
.group-count {
	color: #999;
}
.group-hidden {
	display: none !important;
}
.group-header, .group-header td {
	user-select: none;
	-moz-user-select: none;
}

.egaf_pnc,
.search-header .TitlesContent_NavigazioneTop strong {
	font-size: 1em !important;
	top:0;
}

.search-month {
	color:@color-1A;
	display: inline-block;
	margin-right: @0p75em;
	td {
		padding: @0p25em @0p5em 0 0;
	}
}

a.buttonStyle {
  display: inline-block;
  padding: @0p375em @0p75em;
  background-color: @color-1D;
	color: @color-1A;
  border:2px solid transparent;
  font-weight: bold;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  &:hover {
    background-color: @color-1C;
    cursor: pointer;
  }
  &.active {
    border-color:@color-1A;
    background-color: @color-1C;
  }
  &.disabled {
    color:white;
    cursor: default;
    &:hover {
      background-color: @color-1D;
      cursor: inherit;
    }
  }
  &.buttonD {
	font-size: 0.75em;
	font-weight: normal !important;
	text-decoration: none !important;
  }
}

.egaf-mh {
	min-height: 200px;
}

#tooManyResults {
	padding: 1.5em 1em 1em 1em;
	background-color: @color-1C;
	color: white;
	strong {
		color: white;
	}
	a {
		color: white;
		text-decoration: underline;
	}
	ul {
		padding-top: 1em;
		padding-left: 1.125em;
		li {
			list-style-image: url("img/arrow-white-list.png");
		}
	}
}

.result-display {
	position: absolute;
	top: 0px;
	right: 0px;
	@size: 29px;
	width: @size;
	height: @size;
	z-index: 10;
	cursor: pointer;
}

.AutoComplete {
	left: auto !important;
	right: auto !important;
	top: auto !important;
	bottom: auto !important;
	z-index: 100;
	margin-top: -1em !important;
	position: relative !important;
	
	ul {
		background-color: @color-1D;
		padding: @0p5em;
		li {
      span.highlight {
        font-size: 1em;
      }
			padding: @0p25em;
			list-style-type: none;
			&:nth-child(even) {
				background-color: @color-1D;
			}
			&:nth-child(odd) {
				background-color: lighten(@color-1D, 10%);
			}
			&:hover {
				background-color: @color-1C;
			}
			&.selected {
				background-color: @color-1A !important;
				color: white !important;
				b {
					color: white !important;
				}
			}
			b {
				color:@color-1A;
			}
		}
	}
}
.autocomplete_indicator{
	top: auto !important;
}
.to_much_results_msg{
    margin-top: @0p5em;
    margin-bottom: @0p5em;
    margin-left: @0p25em;
    margin-right: @0p25em;
    color: @color-1A;
    font-style: italic;
}

table.egaf_comboPlus {
	width: 100%;
	vertical-align: top;
  td.egaf_comboPlusInput{
    vertical-align: top;
  }
  td.egaf_comboPlusImg {
    vertical-align: top;
    width: 31px;
    cursor: pointer;
    img{
       width: auto;
       height: 30px;
    }
  }
}

.artHelp{
	padding-left:@0p5em;
	padding-right:@0p5em;
	background-color: @color-1A;
	color:white;
  &:hover{
    color: @color-1A;
    background-color:white;
    cursor: pointer;
  }
}

.egaf_LinkArticle {
  div&{
		max-height: 200px;
	}
	ul& {
		padding-left: 1.5em;
	}
}


.scrollElement {
	width: 64px;
	height: 64px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	right: -90px;
	z-index: 1000;
	opacity: 0.3;
}
.scrollToTop {
	top: 69%;
	background-image: url('img/rightPanel_arrow_up_black.png');
}
.noScrollToTop {
	background-image: url('img/rightPanel_arrow_up_black-no.png');
}
.scrollUpDown {
	top: 55%;
	background-image: url('img/rightPanel_up_down_arrows.png');
}
.noScrollUpDown {
	background-image: url('img/rightPanel_up_down_arrows-no.png');
}
.scrollToTop:hover,
.scrollUpDown:hover,
.enhancedNext:hover,
.enhancedPrev:hover {
	text-decoration: none;
	opacity: 1;
}
.enhancedElement {
	text-align: center;
	text-decoration: none;
	position: fixed;
	z-index: 1000;
	width: 64px;
	height: 64px;
	right: -90px;
	opacity: 0.3;
}
.searchWidgetRP {
	top: 13%;
	background-image: url('img/rightPanel_search-widget.png');
	width: 64px;
	height: 64px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	right: -90px;
	z-index: 1000;
	opacity: 0.3;
}
.searchWidgetRP:hover {
	opacity: 1;
}
.enhancedNext {
	top: 27%;
	background-image: url('img/rightPanel_enhanced-next.png');
}
.enhancedPrev {
	top: 41%;
	background-image: url('img/rightPanel_enhanced-prev.png');
}
.noEnhancedNext {
	background-image: url('img/rightPanel_enhanced-next-no.png');
}
.noEnhancedPrev {
	background-image: url('img/rightPanel_enhanced-prev-no.png');
}
.openPanel {
	background-image: url('img/rightPanel_panel_open.png');
}
.closePanel {
	background-image: url('img/rightPanel_panel_close.png');
}



.table .search-choice .search-type {
	vertical-align: top;
}

.correctTextDiv {
	text-transform: none;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.25em;
	padding-bottom: 0.5em;
	padding-top: 0.25em;
	float: none;
	clear: both;
	a {
		text-decoration: underline;
		white-space: normal;
		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
	span {
		font-size: 1em;
		font-weight: bold;
	}
}

.search32_glyph.glyph-ai {
	float: right;
	width: 30px;

	a {
	background: url(/lib/skin.pkg/rs/css/img/glyphs/search-form-icon-ai.png?1) 0 0 no-repeat;
	}
}

.correctText_contenitore.PopUp_background {
	display: none;
	z-index: 900;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: #ccc;
	background: rgba(204, 204, 204, 0.6);

	.PopUp {
		max-width: 30em;
		max-height: 90%;
		overflow: auto;
		margin: auto;
		margin-top: 1em;
		padding: 1em;
		display: table;
		background-color: #fff;
		color: #000;

		.tit {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 1.2em;
		}
	}
}